src/main/mule/customer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="customerFlow" doc:id="eccc3721-2cfa-45e0-8b60-d434cae43b6f" >
		<jms:listener doc:name="On New Message" doc:id="c9602e73-6886-4024-ab1f-824812107680" config-ref="JMS_Config" destination="tablt1"/>
		<ee:transform doc:name="Transform Message" doc:id="91d965f9-ca8c-4ca5-8810-aa8911f173e2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b242e2c2-15b4-4f3d-9c65-a3b0334a9058" message="#[payload]"/>
	</flow>
</mule>
